doctype html
head
  //- Global Site Tag (gtag.js) - Google Analytics
  //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-105990489-2')
  //- script.
  //-   window.dataLayer = window.dataLayer || [];
  //-   function gtag(){dataLayer.push(arguments)};
  //-   gtag('js', new Date());
  //-   gtag('config', 'UA-105990489-2');
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width")
  title Daniel de Paula - CV
  link(
    type="text/css",
    rel="stylesheet",
    href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,600,700|Montserrat:400,400i,600|Lato:400,400i,900|Open+Sans:400,400i,600,700"
  )
  link(type="text/css", rel="stylesheet", href="css/main.css")

#root(style="font-family: 'Open Sans'")
  #page
    #main-grid
      #header
        h1#header-title= info.name
        div
        #header-about
          span#header-subtitle= info.position
          span.info #{ info.nationality } | #{ info.age } years old | #{ info.status }
        #contact.icon-grid
          svg.icon
            use(href="icons/place.svg#root")
          span= contact.country
          svg.icon
            use(href="icons/envelope.svg#root")
          span.email
            span= contact.email.username
            svg
              use(href="icons/at.svg#root")
            span= contact.email.domain

      #left-col.main-col
        //- Experience
        #jobs
          h2.sec-title Experience
          each exp in experience
            .item
              .item-header
                div
                  span.item-title
                    b= exp.company
                  span.loc= ` | ${exp.place} | ${exp.country}`
                span.role= exp.role
              span.date
                span.period= exp.period
                if exp.duration
                  span= ` | ${exp.duration}`
              p= exp.description

        //- Education
        #edu
          h2.sec-title Education
          each edu in education
            .item
              .item-header
                div
                  span.item-title
                    b= edu.institution
                  span.loc= ` | ${edu.place} | ${edu.country}`
                span.role= edu.program
              span.date
                span.period= edu.period
                if edu.duration
                  | #{ edu.duration }
              p= edu.description

      #right-col.main-col
        //- Skills
        #skills
          h2.sec-title Skills
          .skills-list
            each skill in skills
              span.skill-name= skill.name
              .skill-bar-inner(style=`width: ${skill.score}%`)

        //- Languages
        #langs
          h2.sec-title Languages
          .skills-list
            each lang in languages
              span.skill-name= lang.name
              .skill-bar-inner(style=`width: ${lang.score}%`)

        //- Online
        #links
          h2.sec-title Online
          #links-list.icon-grid
            each link in links
              svg.icon
                use(href=`icons/${link.type}.svg#root`)
              a(href=link.url)
                span= link.label

        //- Interests
        #interests
          h2.sec-title Interests
          .interest-grid
            each interest in interests
              span= interest

        //- Recommendation
        #rec
          h2.sec-title Recommendation
          #rec-content
            p.quote= recommendation.quote
            .quote-author
              b= recommendation.author.name
              br
              span= recommendation.author.role
              br
              span= recommendation.details

  footer#footer
    a.github-button(
      target="_blank",
      href="https://github.com/danielpes/cv",
      data-size="large",
      aria-label="Check danielpes/cv on GitHub"
    ) danielpes/cv
    i Hand-crafted with web technologies
    i Last updated on #{ new Intl.DateTimeFormat('en-gb', {dateStyle: "medium"}).format(new Date()) }

script(type="text/javascript", src="js/main.js")
script(async, defer, src="https://buttons.github.io/buttons.js")
